* {
	margin: 0;
	font-family: verdana;
	box-sizing: border-box;
}

body {
	padding: 10px;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	height: 700px;
	width: clamp(350px, 80%, 600px);
	margin-top: 15px;
	border: none;
	border-radius: 8px;
	box-shadow: 0px 2px 5px black;
	padding: 30px;
}

.group {
	display: flex;
	flex-direction: column;
	height: 100px;
	justify-content: space-between;
	width: 100%;
	margin: 15px 0;
}

#gender {
	margin: 15px 0;
}

.gender-field {
	font-size: 12px;
	font-weight: 500;
}

.field-name {
	color: #404040;
	font-size: 12px;
}

.field {
	border: none;
	box-shadow: 0px 1px 3px black;
	border-radius: 8px;
	height: 35px;
	padding-left: 5px;
	width: 100%;
}

.field:hover {
	box-shadow: 0px 2px 5px black;
}

#title {
	color: #5283EC;
	margin: 0 auto;
	margin-bottom: 10px;
}

#submit-btn {
	color: white;
	font-size: 14px;
	width: 100px;
	padding: 10px;
	background-color: #1293EC;
	border: none;
	border-radius: 8px;
	box-shadow: 0px 1px 4px black;
	cursor: pointer;
	margin: 0 auto; 
	margin-top: 10px;
}

#submit-btn:hover {
	background-color: #1673EC; 
	box-shadow: 0px 2px 5px black;
}

#submit-btn:active {
	background-color: #5283EC; 
}

#clear-btn {
	color: white;
	font-size: 14px;
	width: 100px;
	padding: 10px;
	background-color: #FF2400;
	border: none;
	border-radius: 8px;
	box-shadow: 0px 1px 4px black;
	cursor: pointer;
	margin: 0 auto; 
	margin-top: 10px;
}

#clear-btn:hover {
	background-color: #F1493A; 
	box-shadow: 0px 2px 5px black;
}

#clear-btn:active {
	background-color: #FF1400; 
}

.data {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	width: clamp(350px, 80%, 600px);
	font-size: 18px;
	border-radius: 8px;
	box-shadow: 0px 2px 5px black;
	padding: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#data-title{
	margin: 0 auto;
	color: #1293EC;
}

.user {
	margin-top: 20px;
	margin-bottom: 10px;
	color: #1293EC;
	font-weight: bold;
	box-shadow: 0px 1px 3px black;
	padding: 8px;
	border-radius: 5px;
}

.entry {
	margin-bottom: 5px;
}

.entry-title {
	color: #1293EC;
}

.hide {
	display: none;

