* {
	margin: 0;
	font-family: verdana;
	box-sizing: border-box;
}

body {
	padding: 10px;
}

.container{
	/*height: 100vh;*/
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	height: 600px;
	width: clamp(350px, 80%, 600px);
	margin-top: 15px;
	border: none;
	border-radius: 8px;
	box-shadow: 0px 2px 5px black;
	padding: 30px;
}

.field {
	border: none;
	box-shadow: 0px 1px 3px black;
	border-radius: 8px;
	height: 30px;
	padding-left: 5px;
}

#title {
	color: #5283EC;
	margin: 0 auto;
	margin-bottom: 10px;
}

#submit-btn {
	color: white;
	font-size: 14px;
	width: 100px;
	padding: 10px;
	background-color: #1293EC;
	border: none;
	border-radius: 8px;
	box-shadow: 0px 1px 4px black;
	cursor: pointer;
	margin: 0 auto; 
	margin-top: 10px;
}

#submit-btn:hover {
	background-color: #1673EC; 
}

#submit-btn:active {
	background-color: #5283EC; 
}

.data {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	height: 400px;
	width: clamp(350px, 80%, 600px);
	font-size: 18px;
	border-radius: 8px;
	box-shadow: 0px 2px 5px black;
	padding: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#data-title{
	margin: 0 auto;
	color: #1293EC;
}

.entry {
	color: #5283EC;
}

.hide {
	display: none;
}